
.hero__section{
    z-index: inherit;
    position: relative;
    text-align: center;
}

.hero__section p {
    text-align: center;
}

.hero__title {
    font-weight: 800;
    font-size:  18vh;
    line-height: 1;
    text-align: center;
}

.hero__btn {
    margin: auto;
    display: block;
}
